



#about-page-container{
    width: 100vw;
    min-height: 100vh;
    #about-body-container{
        width: 100%;
        #intro-section{
            width: 100%;
            position: relative;
            height: 45vh;
            #text-div{
                width: 100%;
                height: 100%;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                h1{
                    color: white;
                    font-size: 2.5rem;
                }
                p{
                    font-size: 0.8rem;
                    font-weight: 600;
                    color: white;

                }
            }
            #background-image-div{
                position: absolute;
                top: 0;
                left: 0;
                z-index: -1;
                background-image: url("../assets/EkoBridge.jpeg");
                width: 100%;
                height: 100%;
                background-size: cover;
                background-position: center;
            }
        }
        #main-point{
            width: 90%;
            position: relative;
            flex-direction: column-reverse;
            top: -15vh;
            left: 5vw;
            padding: 1rem;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 1rem;
            background-color: whitesmoke;
            #text{
                text-align: center;
                width: 100%;
            }
            #image-container{
                width: 50%;
                img{
                    width: 100%;
                }
            }

        }
        #ad-container{
            position: relative;
            width: 100%;
            height: 35vh;
            padding: 0rem 2rem;
            margin-bottom: 4rem;
            #background-image{
                background-image: url("../assets/eyo.jpeg");
                width: 100%;
                height: 100%;
                background-size: cover;
                background-position: center;
                position: absolute;
                top: 0px;
                left: 0px;
                z-index: -1;

            }
            #overlapping-text-container{
                width: 100%;
                height: 100%;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                color: whitesmoke;
                gap: 1.5rem;
                button{
                    padding: 0.5rem;
                    font-size: 1rem;
                }
            }
        }
        #works-container{
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            h2,p{
                text-align: center;
                padding-bottom: 1.5rem;
            }
            p{
                width: 60%;
                font-size: 0.6rem;
            }
            #case-studies{
                width: 100%;
                display: flex;
                flex-wrap: wrap;
                padding: 0rem 1rem;
                justify-content: center;
                gap: 4rem;
                .work-case-container{
                    width: 15vh;
                    border-radius: 1rem;
                    background-color: whitesmoke;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    #image-container{
                        width: 100%;
                        top: 0px;
                        left: 0px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        img{
                            width: 100%;
                        }
                    }
                    h4{
                        text-align: center;
                    }
                    p{
                        font-size: 0.6rem;
                        text-align: center;
                    }
                }
            }
        }
        #founders-container{
            width: 100%;
            margin-top: 2rem;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            h2{
                text-align: center;
            }
            p{
                margin-top: 0.5rem;
                font-size: 0.8rem;
                margin-bottom: 1rem;
            }
            #list-of-members{
                width: 100%;
                display: flex;
                flex-wrap: wrap;
                padding: 1.5rem;
                justify-content: space-around;
                .a-member{
                    width: 45%;
                    #a-member-image-container{
                        width: 100%;
                        -webkit-mask-image: url(w3logo.png);
                        mask-image: url(../assets/mask.svg);
                        mask-repeat: no-repeat;
                        img{
                            width: 100%;
                        }

                    }
                    #text-container{
                        h4,p{
                            text-align: center;
                        }
                    }
                }
            }
        }
    }
}

@media (orientation:'landscape') {
    #about-page-container{
        width: 100vw;
        min-height: 100vh;
        #about-body-container{
            width: 100%;
            #intro-section{
                width: 100%;
                position: relative;
                height: 45vh;
                #text-div{
                    width: 100%;
                    height: 100%;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    h1{
                        color: white;
                        font-size: 2.5rem;
                    }
                    p{
                        font-size: 0.8rem;
                        font-weight: 600;
                        color: white;
    
                    }
                }
                #background-image-div{
                    position: absolute;
                    top: 0;
                    left: 0;
                    z-index: -1;
                    background-image: url("../assets/EkoBridge.jpeg");
                    width: 100%;
                    height: 100%;
                    background-size: cover;
                    background-position: center;
                }
            }
            #main-point{
                width: 50%;
                position: relative;
                top: -5vh;
                left: 25vw;
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                gap: 1rem;
                background-color: whitesmoke;
                #text{
                    text-align: left;
                    width: 50%;
                    padding-left: 1rem;
                }
                #image-container{
                    width: 50%;
                    img{
                        width: 100%;
                    }
                }
    
            }
            #ad-container{
                position: relative;
                width: 100%;
                height: 35vh;
                padding: 0rem 2rem;
                margin-bottom: 4rem;
                #background-image{
                    background-image: url("../assets/eyo.jpeg");
                    width: 100%;
                    height: 100%;
                    background-size: cover;
                    background-position: center;
                    position: absolute;
                    top: 0px;
                    left: 0px;
                    z-index: -1;
    
                }
                #overlapping-text-container{
                    width: 100%;
                    height: 100%;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    color: whitesmoke;
                    gap: 1.5rem;
                    button{
                        padding: 0.5rem;
                        font-size: 1rem;
                    }
                }
            }
            #works-container{
                width: 100%;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                h2,p{
                    text-align: center;
                    padding-bottom: 1.5rem;
                }
                p{
                    width: 60%;
                }
                #case-studies{
                    width: 100%;
                    display: flex;
                    flex-wrap: wrap;
                    padding: 0rem 1rem;
                    justify-content: center;
                    gap: 4rem;
                    .work-case-container{
                        width: 15vh;
                        border-radius: 1rem;
                        background-color: whitesmoke;
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        justify-content: center;
                        #image-container{
                            width: 100%;
                            top: 0px;
                            left: 0px;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            img{
                                width: 100%;
                            }
                        }
                        h4{
                            text-align: center;
                        }
                        p{
                            font-size: 0.6rem;
                            text-align: center;
                        }
                    }
                }
            }
            #founders-container{
                width: 100%;
                margin-top: 2rem;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                h2{
                    text-align: center;
                }
                p{
                    margin-top: 0.5rem;
                    font-size: 0.8rem;
                }
                #list-of-members{
                    width: 100%;
                    display: flex;
                    flex-wrap: wrap;
                    padding: 1.5rem;
                    justify-content: space-around;
                    .a-member{
                        width: 15%;
                        #a-member-image-container{
                            width: 100%;
                            -webkit-mask-image: url(w3logo.png);
                            mask-image: url(../assets/mask.svg);
                            mask-repeat: no-repeat;
                            img{
                                width: 100%;
                            }
                            #text-container{
                                h4{
                                    text-align: end;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}